{% extends 'base.html.twig' %}

{% block title %}Admin Register{% endblock %}

{% block body %}
<section class="w-full max-w-md mx-auto p-6">
<div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-4 sm:p-7">
        <div class="text-center">
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Ajouter un Admin</h1>
        </div>
        <div class="mt-5">
        {{ form_start(form) }}
        <div class="grid gap-y-4">
            <div>
                {{ form_label(form.email) }}
                <div class="relative">
                    {{ form_widget(form.email) }}
                </div>
            </div>
            <div>
                {{ form_label(form.password) }}
                <div class="relative">
                    {{ form_widget(form.password) }}
                </div>
            </div>
            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Inscription</button>
        {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
</section>
{% include "_components/_toast.html.twig" %}
{% endblock %}
